.count {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: red;
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-icon-container img {
  filter: invert(1);
}
